{% extends 'TZ.html' %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../public/js/fontsizeset.js"></script>
    <link rel="stylesheet" href="../public/css/close_door.css">
</head>
<body>
        <div id="about">
                <div class="Catalog">
                  <img src="../public/images/状态栏@2x.png" alt="" class="state">
                  <a href="/phonePage"><img src="../public/images/Return@2x.png" alt="" class="Return_4"></a>
                  <span class="Open_door">开门记录</span>
                </div>
                <div class="content_two_two_two">
                  <div class="Open_door_one">
                    <div class="lock_one">
                      <img src="../public/images/lock@2x.png" alt="" class="lock">
                    </div>
                    <span class="door_name">开门</span>
                    <span class="door_time">1分钟前</span>
                    <span class="place">幻想乡</span>
                  </div>
                  <div class="Open_door_two">
                    <div class="lock_two">
                      <img src="../public/images/lock@2x.png" alt="" class="lock">
                    </div>
                    <span class="door_name">开门</span>
                    <span class="door_time">1天前</span>
                    <span class="place">幻想乡</span>
                  </div>
                  <div class="Open_door_three">
                    <div class="lock_three">
                      <img src="../public/images/lock@2x.png" alt="" class="lock">
                    </div>
                    <span class="door_name">开门</span>
                    <span class="door_time">1天前</span>
                    <span class="place">幻想乡</span>
                  </div>
                  <div class="Open_door_four">
                    <div class="lock_four">
                      <img src="../public/images/lock@2x.png" alt="" class="lock">
                    </div>
                    <span class="door_name">开门</span>
                    <span class="door_time">18天前</span>
                    <span class="place">幻想乡</span>
                  </div>
                </div>
                </div>
</body>
</html>
{% endblock %}