{% extends 'TZ.html' %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../public/js/fontsizeset.js"></script>
    <link rel="stylesheet" href="../public/css/Rrcord.css">
    <title>Document</title>
</head>
<body>
      <!-- 报警记录 -->
      <div id="App_2">
            <!-- <router-link to="/" >报警</router-link> -->
             <img src="../public/images/状态栏.png" alt="" class="Status_Bar_3">
             <div class="header_box">
            <a href="/phonePage"><img src="../public/images/Return.png" alt="" class="Return_2"></a>
            <span class="bjjl_span">报警记录</span>
             </div>
            <!-- header_box盒子 -->
            <div class="Conter_Box">
              <div class="Conter_Div1">
                <div class="Div_Pic1">
                  <img src="../public/images/move.png" alt="" class="pic_1">
                  </div>
                  <!-- 包装图片背景颜色的盒子 -->
                  <span class="Pic_Span1">有人移动保险箱</span>
                  <span  class="time_one">2分钟前</span>
                  <span class="Div_Span1">幻想乡</span>
              </div>
              <div class="Conter_Div2">
                <div class="Div_Pic2">
                  <img src="../public/images/Electricquantity.png" alt=""  class="pic_2">
                </div>
                  <!-- 包装图片背景颜色的盒子 -->
                  <span class="Pic_Span2">保险箱电量低于20%</span>
                  <span  class="time_two">1天前</span>
              <span class="Div_Span2">幻想乡</span>
              </div>
              <div class="Conter_Div3">
                <div class="Div_Pic3">
                  <img src="../public/images/modify.png" alt=""  class="pic_3">
                </div>
                  <!-- 包装图片背景颜色的盒子 -->
                   <span class="Pic_Span3">修改配置</span>
                  <span class="time_three">1天前</span>
              <span class="Div_Span3">幻想乡</span>
              </div>
              <div class="Conter_Div4">
                <div class="Div_Pic4">
                  <img src="../public/images/Electricquantity.png" alt=""  class="pic_4">
                </div>
                  <!-- 包装图片背景颜色的盒子 -->
                   <span class="Pic_Span4">保险箱电量低于30%</span>
                  <span class="time_frou">18天前</span>
               <span class="Div_Span4">幻想乡</span>     
              </div>
              <!-- Conter_Div1盒子 -->
            </div>
            <!-- Conter_Box盒子 -->
                </div>
</body>
</html>
{% endblock %}